:root {
  /* Кольори */
  --dark-color: #2e2f42;
  --text-color: #434455;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --passive-color: #4d5ae5;
  --active-color: #404bbf;
  /* Текст */
  --text-size: 16px;
  --text-spacing: 0.02em;
  --typical-lh: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--passive-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* *****************Студія******************** */
/* ----------------- Хедер ----------------- */
/* Лого  */
.header-logo-span {
  color: var(--dark-color);
}

/* Навігація */
.nav-list-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: var(--typical-lh);
  letter-spacing: var(--text-spacing);
}
.nav-list-link:is(:hover, :focus) {
  color: var(--active-color);
}

/* Контакти */
.address {
  font-style: normal;
}
.address-link {
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: var(--typical-lh);
  letter-spacing: var(--text-spacing);
}
.address-link:is(:hover, :focus) {
  color: var(--active-color);
}

/* ----------------- Студія Мейн ----------------- */
/*--------Hero------ */
.hero {
  background-color: var(--dark-color);
}

.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: var(--text-spacing);
  color: var(--white-color);
}
/* Кнопка */
.title-btn {
  color: var(--white-color);
  background: var(--passive-color);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: var(--typical-lh);
  letter-spacing: 0.04em;
}
.title-btn:is(:hover, :focus) {
  background: var(--active-color);
}
/*--------Features------ */
.features {
}

.features-list {
}

.features-list-item {
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--text-spacing);
  color: var(--dark-color);
}

.features-list-text {
  font-size: var(--text-size);
  line-height: var(--typical-lh);
  letter-spacing: var(--text-spacing);
}
/*--------What are we doing------ */
.gallery {
}

.gallery-caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: var(--text-spacing);
  text-transform: capitalize;
  color: var(--dark-color);
}

.gallery-list {
}

.gallery-list-item {
}

/*-------- Our Team------ */
.team-gallery {
  background-color: var(--light-color);
}

.team-gallery-caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: var(--text-spacing);
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-list {
}

.team-list-item {
  background-color: var(--white-color);
}

.team-list-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: var(--text-spacing);
  color: var(--dark-color);
}

.team-list-text {
  font-size: var(--text-size);
  line-height: var(--typical-lh);
  text-align: center;
  letter-spacing: var(--text-spacing);
}

/* ----------------- Футер ----------------- */
.footer {
  background-color: var(--dark-color);
}
.footer-logo-span {
  color: var(--light-color);
}
.footer-text {
  font-size: var(--text-size);
  line-height: var(--typical-lh);
  letter-spacing: var(--text-spacing);
  color: var(--light-color);
}

/*******************Портфоліо***************** */
/*--------Фільтр------ */

.filters-list {
}

.filters-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: var(--text-size);
  line-height: var(--typical-lh);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--passive-color);
  background-color: var(--light-color);
}

.filters-btn:is(:hover, :focus) {
  color: var(--white-color);
  background-color: var(--active-color);
}

/*--------Картка проекту------ */
.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--text-spacing);
  color: var(--dark-color);
}

.projects-text {
  font-size: var(--text-size);
  line-height: var(--typical-lh);
  letter-spacing: var(--text-spacing);
  color: var(--text-color);
}
